body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }


p {font-size: 16px; color: black}

 .margin {
          margin-top: 100px;
          margin-bottom: 100px;
     	  margin-right: 150px;
      	  margin-left: 80px;
		}


.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}