body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: white;
  }


p {font-size: 16px; color: white}

.margin {
          margin-top: 60px;
          margin-bottom: 100px;
     	  margin-right: 150px;
      	  margin-left: 60px;
}
.column{
  float: left;
  width: 50%;
}
.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}
header{
  text-align: left;
  color: white;
  text-shadow: 4px 2px black;
  }
div.absolute {
   position: absolute;
   width: 22%;
   right: 39%;
   bottom: 10px;
    text-align: center;
    border-style: solid;
  border-color:  #66ff33;
  border-width: thin;
  background-color: black;

 }
 body{
background-color: #74b9ff;
}

.round_img {
  border-radius: 50%;

}
.vertical-center1 {
 margin: 0;
  position: absolute;
  top: 35%;
  -ms-transform: translateX(35%);
  transform: translateX(35%)
}

.vertical-center2 {
  margin: 0;
  position: absolute;
  top: 35%;
  -ms-transform: translateX(65%);
  transform: translateX(65%)
}

